<!DOCTYPE html>
<html>
<head>
    <title>Pesquisa de Lojas</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Pesquisa de Lojas</h1>

    <form id="search-form">
        <input type="text" name="pesquisa" id="pesquisa" placeholder="Digite sua pesquisa" autocomplete="off">
    </form>

    <div id="buscar-resultados"></div>

    <script>
        $(document).ready(function() {
            $('#search-form').on('submit', function(event) {
                event.preventDefault(); // Evita o envio tradicional do formulário
                var pesquisa = $('#pesquisa').val();
                if (pesquisa.trim() === '') {
                    $('#buscar-resultados').html(''); // Limpa a div de resultados
                } else {
                    $.ajax({
                        url: '/search',
                        type: 'POST',
                        data: { pesquisa: pesquisa },
                        success: function(response) {
                            $('#buscar-resultados').html(response);
                        }
                    });
                }
            });

            $('#pesquisa').on('input', function() {
                var pesquisa = $(this).val();
                if (pesquisa.trim() === '') {
                    $('#buscar-resultados').html(''); // Limpa a div de resultados
                } else {
                    $.ajax({
                        url: '/search',
                        type: 'POST',
                        data: { pesquisa: pesquisa },
                        success: function(response) {
                            $('#buscar-resultados').html(response);
                        }
                    });
                }
            });
        });
    </script>
</body>
</html>
